.archive-student{
    .entry-content{
        display: block;
    }
    .student-tax{   
        margin-left: 1.25rem;
        
        p{
            margin:0;
        }

        ul{
        list-style: none;
        padding-left:0;
        margin:0;

        li{
            a{
                text-decoration: none;
            }
        }
        }
    }
}

.student-archive-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    @media(min-width: 56.25em){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}