@use 'variables.scss';

* {
    box-sizing: border-box;
}

body {
    font-family: variables.$body-font;
    font-weight: variables.$thin-weight;
    color: variables.$font-color;
    background-image: variables.$background-image;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    
    .site-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        height: auto;
    }

    h1 {
        margin: 0;
        font-size: 5rem;
        font-family: variables.$heading-font;
        text-shadow: variables.$text-shadow;
    }

    h2 {
        font-family: variables.$heading-font;
        margin: 0;
        font-size: 4rem;
        text-shadow: variables.$text-shadow;
        color: variables.$background-color;
    }

    h3 {
        margin: 0;
        font-family: variables.$body-font;
    }

    h4 {
        font-size: 2rem;
    }

    a {
        color: variables.$font-color;
    }

    .spotify-player {
        position: sticky;
        bottom: 10dvh;
        //top: 10dvh;
        width: 100%;
        z-index: 90;
        animation: load 1s ease-in;

        @keyframes load {
            0% {
                opacity: 0;
            }
        
            100% {
                opacity: 1;
            }
        }

        @media (min-width: variables.$laptop-size) {
            top: 10dvh;
            left: 0;
            width: auto;
        }
        @media (min-width: variables.$desktop-size) {
            top: 10dvh;
        }

        iframe {
            width: 100%;
            box-shadow: variables.$shadow;
        }
    }

    .hidden {
        opacity: 0;
        transform: translateX(-100%);
        transition: all 1s;
    }

    @media (prefers-reduced-motion) {
        .hidden {
            transition: none;
        }
    }
    
    .show {
        opacity: 1;
        transform: translateX(0);
    }

    .project-item:nth-child(2) {
        transition-delay: 200ms;
    }

    .project-item:nth-child(3) {
        transition-delay: 400ms;
    }
}