@use 'variables.scss';
body {
    font-family: variables.$body-font;
    margin: 0;
    color: variables.$font-color;
    // <a href="https://www.freepik.com/free-vector/abstract-warped-striped-background_2225803.htm#page=3&query=wavy%20pattern&position=5&from_view=keyword&track=ais_user&uuid=f72532e1-1b37-448b-8a4f-94c792397fad">Image by kjpargeter on Freepik</a>

    // <a href="https://www.freepik.com/free-vector/gradient-wavy-pattern-design_31740720.htm#query=wavy%20pattern&position=41&from_view=keyword&track=ais_hybrid&uuid=f72532e1-1b37-448b-8a4f-94c792397fad">Image by freepik</a>
    background-image: variables.$background-image;
    background-size: cover;
    backdrop-filter: contrast(30%);

    h1 {
        margin: 0;
        font-size: 3rem;
        font-family: variables.$heading-font;
        text-shadow: variables.$text-shadow;
    }

    h2 {
        font-family: variables.$heading-font;
        margin: 0;
        font-size: 2rem;
        text-shadow: variables.$text-shadow;
    }

    h3 {
        margin: 0;
    }

    a {
        color: variables.$font-color;
    }

    section {
        padding: 0 1rem;
    }

    // div {
    //     width: 90dvw;
    // }
}