@use 'variables.scss';

* {
    box-sizing: border-box;
}

body {
    font-family: variables.$body-font;
    margin: 0 auto;
    color: variables.$font-color;
    // <a href="https://www.freepik.com/free-vector/abstract-warped-striped-background_2225803.htm#page=3&query=wavy%20pattern&position=5&from_view=keyword&track=ais_user&uuid=f72532e1-1b37-448b-8a4f-94c792397fad">Image by kjpargeter on Freepik</a>

    // <a href="https://www.freepik.com/free-vector/gradient-wavy-pattern-design_31740720.htm#query=wavy%20pattern&position=41&from_view=keyword&track=ais_hybrid&uuid=f72532e1-1b37-448b-8a4f-94c792397fad">Image by freepik</a>
    background-image: variables.$background-image;
    background-size: cover;
    backdrop-filter: contrast(30%);
    background-attachment: fixed;
    

    .site-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    h1 {
        margin: 0;
        font-size: 3rem;
        font-family: variables.$heading-font;
        text-shadow: variables.$text-shadow;
    }

    h2 {
        font-family: variables.$heading-font;
        margin: 0;
        font-size: 2rem;
        text-shadow: variables.$text-shadow;
    }

    h3 {
        margin: 0;
    }

    a {
        color: variables.$font-color;
    }

    .player-container {
        position: sticky;
        top: 10dvh;
        width: 100%;
        z-index: 90;
        animation: load 1s ease-in;

        @keyframes load {
            0% {
                opacity: 0;
            }
        
            100% {
                opacity: 1;
            }
        }

        @media (min-width: variables.$laptop-size) {
            top: 80dvh;
            width: 30%;
        }
        @media (min-width: variables.$desktop-size) {
            top: 75dvh;
        }

        iframe {
            width: 100%;
            box-shadow: variables.$shadow;
    
            // @media (min-width: variables.$laptop-size) {
            //     width: 30%;
            // }
        }
    }

    .hidden {
        opacity: 0;
        transform: translateX(-100%);
        transition: all 1s;
    }

    @media (prefers-reduced-motion) {
        .hidden {
            transition: none;
        }
    }
    
    .show {
        opacity: 1;
        transform: translateX(0);
    }

    .project-item:nth-child(2) {
        transition-delay: 200ms;
    }

    .project-item:nth-child(3) {
        transition-delay: 400ms;
    }
}