@use 'variables.scss';

footer {
    position: relative;
    bottom: 0;


    .footer-copyright {
        
        p {
            margin: 0;
            padding-bottom: 1rem;
            text-align: center;
        }
    }

}