@use 'variables.scss';

footer {
    position: relative;
    bottom: 0;
    background-image: linear-gradient(transparent, variables.$accent-color, variables.$font-color);

    .footer-copyright {
        padding: 0rem 1rem;
        
        p {
            margin: 0;
            padding-bottom: 1rem;
            text-align: center;
            color: variables.$background-color;
        }
    }

}