@use 'variables';

header {
    display: flex;
    justify-content: space-evenly;
    width: 100dvw;
    background-color: pink;
    box-shadow: 0px 4px 5px 0px rgba(186,186,186,1);

    .site-branding {
        a {
            font-size: 2rem;
            text-decoration: none;
            color: black;
        }

        .site-description {
            font-size: 1rem;
        }
    }

    .main-navigation {

        @media (min-width: 800px) {
            display: flex;
            align-items: center;
        }

        .menu-toggle {
            display: block;

            @media (min-width: 800px) {
                display: none;
            }
        }

        .menu-navigation-container {

            ul {
                padding: 0;
                list-style: none;

                li {

                    @media (min-width: 800px) {
                        display: inline-block;
                        margin-right: 1rem;
                    }
                }

                a {
                    text-decoration: none;
                    color: black;
                    text-transform: uppercase;
                }
            }
        }
    }
}