@use 'variables.scss';

#section-26 {
    height: 90dvh;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .div-for-26 {

        .text-container{
            position: relative;
            text-align: center;
            background-color: variables.$background-color;
            border-radius: 1rem;
            box-shadow: variables.$shadow-dark;
            padding: 1rem;
            opacity: .95;
        }

        .image-container {
            width: 50dvw;
            position: absolute;
            top: 20%;
            left: 25%;

            img {
                width: 50dvw;
                border-radius: 50%;
                box-shadow: variables.$shadow-dark;
            }
        }
    }

}