@use 'variables.scss';

//  about me
#section-6 {
    height: auto;
    margin-bottom: 1rem;
    
    h2 {
        text-align: center;
        background-color: variables.$background-color;
        box-shadow: variables.$shadow;
        border-radius: variables.$border-radius;
    }

    .div-for-6 {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: variables.$background-color;
        border-radius: variables.$border-radius-invert;

        .about-me {
            box-shadow: variables.$shadow;
            border-radius: variables.$border-radius-invert;
            padding: 1rem;
        }

        h3 {
            text-align: center;
        }

    }
}