@use 'variables.scss';

// contact me
#section-11 {
    width: auto;
    height: 80dvh;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .div-for-11 {
        display: flex;
        justify-content: space-evenly;
        
        svg {
            width: 10dvw;
            height: auto;

            path {
                fill: variables.$background-color;
                stroke: variables.$font-color;
                stroke-width: 0.2;
            }
        }
    }

    h2 {
        text-align: center;
    }


}