@use 'variables.scss';

// landing page
@keyframes load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#section-26 {
    height: 100dvh;
    margin: 2rem 0rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    .div-for-26 {

        .text-container{
            width: 50dvw;
            animation: load 1.5s ease-in;

        }
    }

}