@use 'variables.scss';

#single-project-page {

    .entry-header {
        position: relative;
        z-index: 1;
        box-shadow: none;
        border: none;
        margin-top: 2rem;

        h1 {
            font-size: 2.25rem;
        }
    }

    .thumbnail-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0rem;

        img {
            width: 300px;
            height: auto;
            box-shadow: variables.$shadow;
        }
    }

    .swiper-wrapper {
        margin-top: 1rem;
 
        img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 15px;
            box-shadow: variables.$shadow;

            max-width: auto;
            max-height: 500px;
        }

        .wp-block-video {
            background-color: transparent;
            max-width: 700px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        video {
            max-width: auto;
            max-height: 500px;
            object-fit: contain;
            border-radius: 15px;
            box-shadow: variables.$shadow;
        }
    }

    // styling the description and other text content
    // link buttons

    .wp-block-buttons {
        justify-content: center;

        .wp-block-button {

            .wp-block-button__link {
                color: variables.$font-color;
                background-color: variables.$glass;
                border: variables.$border;

                &:hover {
                    color: variables.$background-color;
                    background-color: variables.$font-color;
                    border: 1px solid variables.$accent-color;
                }
            }
        }
    }

    // description
    .project-descr {
        text-align: center;
        margin: 2rem 0rem;
        max-width: 320px;
        padding: 1rem;

        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    // tabs
    .tabs-container {
        max-width: 500px;
        height: 120dvh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 1rem;
        min-height: 80dvh;

        @media (min-width: variables.$tablet-size) {
            min-height: 60dvh;
        }

        .tabs {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            justify-content: center;
            margin: 2rem 0rem 0rem 0rem;
            align-items: center;

            @media (min-width: variables.$laptop-size) {
                flex-direction: row;
            }

            h3 {
                display: flex;
                align-items: center;
                width: 45dvw;
                height: 50px;
                border: variables.$border;
                border-radius: variables.$border-radius;
                padding: 0.25rem;
                cursor: pointer;

                &:hover {
                    color: variables.$background-color;
                    background-color: variables.$font-color;
                    border: 1px solid variables.$accent-color;
                }
            }
        }

        .tabs-info {
            position: relative;

            .info {
                position: absolute;
                top: 0;
                left: 0;
                background-color: variables.$glass;
                padding: 0.5rem;
                border-radius: variables.$border-radius;
                border: variables.$border;
                box-shadow: variables.$shadow;
            }
        }
    }
}

// more projects section
.more-posts {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;

    h3 { // more projects title
        color: variables.$background-color;
        text-shadow: variables.$text-shadow;
    }

    .project-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: variables.$heading-font;
        color: variables.$font-color;
        
        @media (min-width: variables.$tablet-size) {
            flex-direction: row;
        }

        h4 {
            font-size: 1.25rem;

            a {
                text-decoration: none;
                &:hover {
                    color: variables.$background-color;
                    text-shadow: variables.$text-shadow;
                }
            }
        }


    }
}