* {
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  margin: 0 auto;
  color: #291F1F;
  background-image: url("../media/7863.jpg");
  background-size: cover;
  backdrop-filter: contrast(30%);
  background-attachment: fixed;
}
body .site-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
body h1 {
  margin: 0;
  font-size: 5rem;
  font-family: "Danfo", serif;
  text-shadow: 0px 1px 5px pink;
}
body h2 {
  font-family: "Danfo", serif;
  margin: 0;
  font-size: 4rem;
  text-shadow: 0px 1px 5px pink;
  color: #F9F4F4;
}
body h3 {
  margin: 0;
}
body h4 {
  font-size: 2rem;
}
body a {
  color: #291F1F;
}
body .spotify-player {
  position: sticky;
  bottom: 10dvh;
  width: 100%;
  z-index: 90;
  animation: load 1s ease-in;
}
@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 50rem) {
  body .spotify-player {
    top: 10dvh;
    left: 0;
    width: auto;
  }
}
@media (min-width: 62.5rem) {
  body .spotify-player {
    top: 10dvh;
  }
}
body .spotify-player iframe {
  width: 100%;
  box-shadow: 0px 4px 5px 0px #291F1F;
}
body .hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s;
}
@media (prefers-reduced-motion) {
  body .hidden {
    transition: none;
  }
}
body .show {
  opacity: 1;
  transform: translateX(0);
}
body .project-item:nth-child(2) {
  transition-delay: 200ms;
}
body .project-item:nth-child(3) {
  transition-delay: 400ms;
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 10dvh;
  background-color: #F9F4F4;
  box-shadow: 0px 4px 5px 0px #291F1F;
  overflow-x: clip;
}
header .site-branding a {
  font-size: 1.25rem;
  text-decoration: none;
  font-family: "Danfo", serif;
}
@media (min-width: 50rem) {
  header .site-branding a {
    font-size: 2.5rem;
  }
}
header .main-navigation {
  display: flex;
  align-items: center;
}
header .main-navigation .menu-toggle {
  display: block;
  width: 3rem;
  height: auto;
  padding-top: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
header .main-navigation .menu-toggle svg {
  width: 100%;
  height: auto;
  fill: #291F1F;
}
@media (min-width: 50rem) {
  header .main-navigation .menu-toggle {
    display: none;
  }
}
header .main-navigation .menu-navigation-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #F9F4F4;
  padding: 1rem 0rem 1rem 2rem;
  box-shadow: 0px 4px 5px 0px #291F1F;
  flex-direction: column;
}
@media (min-width: 50rem) {
  header .main-navigation .menu-navigation-container {
    display: flex;
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    background-color: transparent;
    box-shadow: none;
    flex-direction: row;
    padding: 0;
  }
}
header .main-navigation .menu-navigation-container.toggled {
  display: flex;
}
header .main-navigation .menu-navigation-container ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 800px) {
  header .main-navigation .menu-navigation-container ul {
    flex-direction: row;
    align-items: center;
    width: auto;
  }
}
header .main-navigation .menu-navigation-container ul li {
  margin-bottom: 1rem;
}
@media (min-width: 800px) {
  header .main-navigation .menu-navigation-container ul li {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}
header .main-navigation .menu-navigation-container ul a {
  text-decoration: none;
  color: #291F1F;
  text-transform: uppercase;
  font-size: 1.25rem;
}
header .main-navigation .menu-navigation-container ul a:hover, header .main-navigation .menu-navigation-container ul a:active {
  text-decoration: line-through;
}
header .spotify-player {
  position: absolute;
  bottom: -900%;
}
@media (min-width: 62.5rem) {
  header .spotify-player {
    left: 0;
    bottom: -600%;
  }
}

footer {
  position: relative;
  bottom: 0;
  background-image: linear-gradient(transparent, pink, #291F1F);
}
footer .footer-copyright {
  padding: 0rem 1rem;
}
footer .footer-copyright p {
  margin: 0;
  padding-bottom: 1rem;
  text-align: center;
  color: #F9F4F4;
}

#section-6 {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}
#section-6 h2 {
  width: 90%;
  max-width: 62.5rem;
  text-align: center;
}
#section-6 .div-for-6 {
  width: 90%;
  max-width: 62.5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 1rem;
}
#section-6 .div-for-6 .about-me-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
@media (min-width: 50rem) {
  #section-6 .div-for-6 .about-me-container {
    flex-direction: row;
    column-gap: 1rem;
  }
}
#section-6 .div-for-6 .about-me-container .about-me {
  background-color: #F9F4F4;
  box-shadow: 0px 4px 5px 0px #291F1F;
  border-radius: 0px 0px 10px 10px;
  padding: 1rem;
}
#section-6 .div-for-6 .about-me-container #person h2 {
  color: #291F1F;
  font-size: 2rem;
  text-align: left;
}
#section-6 .div-for-6 #technologies {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #F9F4F4;
  box-shadow: 0px 4px 5px 0px #291F1F;
  border-radius: 0px 0px 10px 10px;
  padding: 1rem;
}
#section-6 .div-for-6 #technologies .toolkit-icons-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-between;
  margin-top: 1rem;
}
#section-6 .div-for-6 #technologies .toolkit-icons-container img {
  width: 45px;
  margin: 1rem 0rem;
}
@media (min-width: 25rem) {
  #section-6 .div-for-6 #technologies .toolkit-icons-container img {
    margin: 1rem;
  }
}
#section-6 .div-for-6 #technologies .toolkit-icons-container img:hover {
  transform: scale(150%);
}

#section-9 {
  height: 150dvh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#section-9 .div-for-9 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 600px) {
  #section-9 .div-for-9 {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
#section-9 .div-for-9 .project-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 350px;
  text-align: left;
  background-color: #F9F4F4;
  border-radius: 15px;
  box-shadow: 10px 10px 5px -5px #291F1F;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
@media (min-width: 600px) {
  #section-9 .div-for-9 .project-item {
    width: 45%;
  }
}
@media (min-width: 62.5rem) {
  #section-9 .div-for-9 .project-item {
    height: 300px;
  }
}
#section-9 .div-for-9 .project-item img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  align-self: center;
}
#section-9 .div-for-9 .project-item .coming-soon {
  text-align: center;
  color: #291F1F;
}
#section-9 .div-for-9 .project-item .read-more {
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #291F1F;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  padding: 0.5rem;
  width: auto;
}
#section-9 .div-for-9 .project-item .read-more:hover {
  background-color: #291F1F;
  color: #F9F4F4;
  border: 2px solid pink;
}
#section-9 .div-for-9 .project-item:last-child {
  margin-bottom: 0;
}

#section-11 {
  width: auto;
  height: 80dvh;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (min-width: 50rem) {
  #section-11 {
    justify-content: space-evenly;
  }
}
#section-11 .div-for-11 {
  display: flex;
  justify-content: space-evenly;
}
#section-11 .div-for-11 svg {
  width: 50px;
  height: auto;
  overflow: visible;
}
@media (min-width: 31.25rem) {
  #section-11 .div-for-11 svg {
    width: 100px;
  }
}
#section-11 .div-for-11 svg path {
  fill: #F9F4F4;
  stroke: pink;
  stroke-width: 0.5;
  stroke-linecap: round;
  width: 200px;
}
#section-11 .div-for-11 svg path:hover, #section-11 .div-for-11 svg path:active {
  fill: #291F1F;
}
#section-11 h2 {
  text-align: center;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#section-26 {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0rem;
}
@media (min-width: 50rem) {
  #section-26 {
    justify-content: start;
  }
}
#section-26 .div-for-26 .text-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100dvw;
  text-align: center;
  background-color: #F9F4F4;
  box-shadow: 10px 10px 5px -5px #291F1F;
  animation: load 1.5s ease-in;
}
#section-26 .div-for-26 .text-container p {
  margin: 0;
  padding: 1rem;
}
#section-26 .div-for-26 .text-container h1 {
  padding-top: 1rem;
}
#section-26 .div-for-26 .image-container {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  text-align: center;
  margin-bottom: 4rem;
  animation: load 1s ease-in;
}
#section-26 .div-for-26 .image-container img {
  width: 60dvw;
  border-radius: 50%;
  box-shadow: 10px 10px 5px -5px #291F1F;
}
@media (min-width: 31.25rem) {
  #section-26 .div-for-26 .image-container img {
    width: 40dvw;
  }
}
@media (min-width: 50rem) {
  #section-26 .div-for-26 .image-container img {
    width: 30dvw;
  }
}
@media (min-width: 62.5rem) {
  #section-26 .div-for-26 .image-container img {
    width: 20dvw;
  }
}

#single-project-page .entry-header {
  position: relative;
  z-index: 1;
}
#single-project-page .entry-header h1 {
  font-size: 2.25rem;
}
#single-project-page .thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem;
}
#single-project-page .thumbnail-container img {
  width: 300px;
  height: auto;
  box-shadow: 10px 10px 5px -5px #291F1F;
}
#single-project-page .swiper-wrapper {
  justify-content: center;
  align-items: center;
}
#single-project-page .swiper-wrapper img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#single-project-page .wp-block-buttons {
  justify-content: center;
}
#single-project-page .wp-block-buttons .wp-block-button .wp-block-button__link {
  color: #291F1F;
  background-color: #F9F4F4;
  border: 2px solid #291F1F;
}
#single-project-page .wp-block-buttons .wp-block-button .wp-block-button__link:hover {
  color: #F9F4F4;
  background-color: #291F1F;
  border: 2px solid pink;
}
#single-project-page .project-descr {
  text-align: center;
  background-color: pink;
  margin: 2rem 0rem;
  max-width: 320px;
  padding: 1rem;
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 5px 0px #291F1F;
}
#single-project-page .tabs-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  min-height: 80dvh;
}
@media (min-width: 31.25rem) {
  #single-project-page .tabs-container {
    min-height: 60dvh;
  }
}
#single-project-page .tabs-container .tabs {
  display: flex;
  justify-content: center;
  margin: 2rem 0rem 0rem 0rem;
}
#single-project-page .tabs-container .tabs h3 {
  background-color: #F9F4F4;
  border: 2px solid #291F1F;
  border-radius: 10px;
  padding: 0.25rem;
  cursor: pointer;
}
#single-project-page .tabs-container .tabs h3:not(:first-of-type) {
  border-left: none;
}
#single-project-page .tabs-container .tabs h3:hover {
  color: #F9F4F4;
  background-color: #291F1F;
  border: 2px solid pink;
}
#single-project-page .tabs-container .tabs h3:hover:not(:first-of-type) {
  border-left: none;
}
#single-project-page .tabs-container .tabs-info {
  position: relative;
}
#single-project-page .tabs-container .tabs-info .info {
  position: absolute;
  top: 0;
  left: 0;
  background-color: pink;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 4px 5px 0px #291F1F;
}

.more-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}
.more-posts h3 {
  color: #F9F4F4;
  text-shadow: 0px 1px 5px pink;
}
.more-posts .project-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Danfo", serif;
  color: #291F1F;
  text-decoration: none;
}
@media (min-width: 31.25rem) {
  .more-posts .project-links {
    flex-direction: row;
  }
}
.more-posts .project-links a:hover {
  color: #F9F4F4;
  text-shadow: 0px 1px 5px pink;
}

/*# sourceMappingURL=styles.css.map */
